<div class="form-container">

    <h2>Login With Your Email</h2>

    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="ui form">

      <div class="field">
        <input type="text" (ngModel)="email" placeholder="Email address.." name="email" required>
      </div>
      <div class="field">
        <input type="password" (ngModel)="password" placeholder="Password.." name="password" required>
      </div>
      <!-- <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required> -->
      <!-- <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required> -->

      <button type="submit" class="ui button" [disabled]="!formData.valid">Log in</button>
      <a routerLink="/signup" class="alc">Don't have an account?</a>
      <a routerLink="/login" class="alc">Go back</a>
  </form>
</div>
